<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:form>
    <h1>Hello World</h1>
    <br/>
    <h:outputText value="ApplicationScopeCounter: #{mainApplicationScope.counter}"/>
    <br/>
    <h:outputText value="SessionScopeCounter: #{mainSessionScope.counter}"/>
    <br/>
    <h:outputText value="ViewScopeCounter: #{mainViewScope.counter}"/>
    <br/>
    <h:outputText value="RequestScopeCounter: #{mainRequestScope.counter}"/>
</h:form>

</html>